<h2>Proyectos presonales</h2>
<select name="" id="" [(ngModel)]="opcion">

  @for(item of proyectos; track proyectos){
    <option value="{{ item.tecnologia }}">{{ item.tecnologia }}</option>
  }
</select>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tecnologia</th>
      <th>Lenguajes</th>
      <th>Horas</th>
      <th>Ver detalles</th>
    </tr>
  </thead>
  <tbody>
    @for(item of proyectos;track proyectos ){
      @if (item.tecnologia == opcion) {
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.lenguaje }}</td>
            <td>{{ item.tecnologia }}</td>
            <td>{{ item.tiempo_desarrollo }}</td>
            <td><a routerLink="{{item.id}}">Ver detalles</a></td>
            <!-- <td><a routerLink="{{item.id}}">Ver detalles</a></td> -->
            <!--<td><a routerLink="/proyectos/{{ item.id }}">Ver detalles</a></td>  -->
          </tr>
      }
    }
  </tbody>
</table>
