<p>sobre-mi works!</p>
<div class="row">
    <div class="col-md-6">
        <div class="imgavatar">
            <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png">
        </div>
        <div>
            <h4>Habilidades</h4>
            <ul>
                <li>Desarrollo web</li>
                <li>Desarrollo móvil</li>
                <li>Diseño gráfico</li>
                <li>Marketing digital</li>
                <li>Gestión de proyectos</li>
                <li>Base de datos</li>
                <li>Sistemas operativos</li>
                <li>Gestión de proyectos</li>
                <li>Desarrollo de software</li> 
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Sobre mi</h3>
      <span class="container">
        Lor1em ipsum dolor sit amet consectetur, adipisicing elit. Suscipit maxime eum, necessitatibus deleniti ad autem quod molestias officiis facilis, accusantium voluptatem deserunt ut perspiciatis vitae id! Iste quia suscipit hic.
        
      </span> 
    <br>
    <br>
    

      <p>Habilidades blandas</p> 
      <ul>
        <li>Conocimientos en HTML5</li>
        <li>Conocimientos en CSS3</li>
        <li>Conocimientos en JavaScript</li>
        <li>Conocimientos en PHP</li>
        <li>Conocimientos en Python</li>
        <li>Conocimientos en Java</li>
        <li>Conocimientos en C++</li>
        <li>Conocimientos en C#</li>
        <li>Conocimientos en Go</li>
        <li>Conocimientos en Ruby</li>
        <li>Conocimientos en Swift</li>
        <li>Conocimientos en Objective-C</li>
        <li>Conocimientos en Kotlin</li>
        <li>Conocimientos en Rust</li>
        <li>Conocimientos en Assembly</li>
      </ul>
    </div>
        
    
</div>